name: Build

on:
  workflow_dispatch:

jobs:
  build:
    name: Build and SonarQube Analyze
    runs-on: [self-hosted, windows]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Optional: verify Java (SonarScanner requires Java)
      - name: Verify Java
        run: java -version

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
